
<head>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<h1>Laigid</h1>
<h2>Viimased 24h</h2>
<%= line_chart @today_graph, min: nil %>
<h2>Kogu periood</h2>
<%= line_chart @all_graph %>
